.container
  .row(style="width:1320px;" )
    .col-xs-3(style="padding-left:55px" )
      %h1活动通
    .col-xs-9(style="margin-top:20px; text-align:right" )
      你好,
      = @name
      %a(style="text-decoration:nome" href="/signout" )退出
  .row(style="width:1320px;")
    .col-xs-12(style="padding-left:55px" )
      .panel.panel-default
        .panel-heading(style="padding:2px 15px" )
          %h4
            用户管理
            %a.btn.btn-default(style="font-size:13px; margin-left:20px; background-color:#F0F0F0" href="/admin/new_user")+添加用户
        %table.table(style="text-align:center" )
          %thead
            %tr
              %th.text-center 编号
              %th.text-center 用户名
              %th.text-center 操作
          %tbody
            - a = 1
            - @users.each do |user|
              %tr
                %td
                  = a
                  - a += 1
                %td= user.name
                %td
                  = link_to '删除', user, :method => :delete, :data => { :confirm => '您确定要删除' + user.name + '吗？'}
                  %a(style="text-decoration: none;padding-right:20px" href="/admin/change" )修改密码
  .row(style="width:1320px" )
    -if flash[:delete_success]
      .text-center.alert-success
        %p(style="height:30px;line-height:30px;" ) 删除用户成功！
  .row(style="width:1305px")
    .col-xl-12(style="text-align:right" )
      = will_paginate @users,:previous_label => '&laquo',:next_label =>'&raquo'
